# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Dados sensíveis / grandes
dados/*.xlsx

# Logs
LOGS/bot.log

# IDEs
.vscode/
.idea/
*.swp
